<body>
<h1 id="titulo">FarmMarket</h1>
<section id="form-body">
  <section id="mensaje_error">No se reconoce este usuario</section>
  <form id="formulario">
    <label for="username">Usuario:</label>
    <input class="controls" type="text" name="nombre" id="nombUser" placeholder="Usuario">
    <label for="password">Contraseña:</label>
    <input class="controls" type="password" name="pass" placeholder="Contraseña">
    <button class="submit" id="ingresar">Ingresar</button>
    <button class="submit" id="registar">Registrarse</button>
  </form>

  <a href="#">¿Olvidaste tu contraseña?</a>
</section>

</body>
