<div class="d-flex flex-column justify-content-center align-content-center">
  <div class="container bg-dark mw-100 p-2 border border-5 border-secondary">
    <h1 class="text-white text-center mb-2">Farmarket</h1>
    <button class="btn btn-danger position-absolute" id="salir" (click)="btnLogOut()">salir</button>
    <button class="btn btn-primary" (click)="btnUserProducts()">Mis Publicaciones</button>
    <button class="btn btn-primary rounded-circle float-end" type="button" (click)="btnPerfil()">
      <img width="30" src="./assets/images/usuario.png">
    </button>
    <label class="text-white float-end">{{this.emailUser}}</label>
  </div>

  <div class="container bg-success w-100 mt-5 rounded border border-2 border-dark">
    <app-my-interests></app-my-interests>
  </div>

  <div class="container bg-success w-100 mt-5 rounded border border-2 border-dark">
    <app-all-products></app-all-products>
  </div>
</div>

