<body>
<section id="top_panel">
  <h1>Farmarket</h1>
  <button id="mis_productos">Mis Productos</button>
  <button class="inf_user" id="perfirl">Perfil</button>
  <label class="inf_user" for="username">Nombre de Usuario...</label>
</section>
<section class="center_panel" id="intereses_panel" >
  <h2>Mis Intereses</h2>
</section>
<section class="center_panel" id="busqueda_panel">
  <h2>Publicaciones</h2>
  <select name="tipo_product" id="tipo_product">
    <option value="tipo1">tipo1</option>
    <option value="tipo2">tipo2</option>
    <option value="tipo3">tipo3</option>
  </select>
</section>

</body>
