<div class="d-flex flex-column justify-content-center align-content-center">

  <div class="container bg-dark mw-100 p-2 border border-5 border-secondary">
    <h1 class="text-white text-center mb-2">Farmarket</h1>
    <button class="btn btn-danger position-absolute" id="salir" (click)="btnLogOut()">salir</button>
  </div>

  <div class="container bg-success w-100 mt-5 rounded border border-2 border-dark">

    <div class="h2 text-center">Usuarios</div>

    <div class="col-11 border m-3 p-1" *ngFor="let list of allUsers | paginate: {itemsPerPage:5, currentPage: pagePublis}">
      <div class="row">
        <div class="m-1 col-4 ">{{list.name}}</div>
        <div class="m-1 col-4">{{list.email}}</div>
        <button class="m-1 btn btn-danger col-2" value="{{list.id}}" (click)="deleteUser($event)">Eliminar</button>
      </div>
    </div>
    <div class="d-flex justify-content-center mb-2">
      <pagination-controls class="text-center bg-primary rounded-5" (pageChange)="pagePublis = $event"></pagination-controls>
    </div>
  </div>

  <div class="container bg-success w-100 mt-5 rounded border border-2 border-dark">
    <h2 class="text-center p-1">Publicaciones</h2>


    <select class="dropdown btn btn-primary type-products" (change)="filterType($event)">
      <option value="all">todos</option>
      <option value="Veduras">Veduras</option>
      <option value="Tubérculos">Tubérculos</option>
      <option value="Frutas">Frutas</option>
      <option value="Hotalizas">Hotalizas</option>
      <option value="Varios">Varios</option>
    </select>

    <div class="container d-flex align-content-center justify-content-center">
      <div class="row col-2  border m-2 p1 rounded" *ngFor="let list of publications | paginate: {itemsPerPage:5, currentPage: pages}">
        <div class="targeta p-2" (click)="openModal(conten)">
          <div class="fw-bold h6 text-center">{{list.titulo}}</div>
          <img class="border border-dark rounded" src="{{list.image}}">
          <div class="mt-1 h6 bg-warning w-50 p-1 border border-dark rounded-5 text-center">{{list.tipo}}</div>
        </div>
        <button class="btn btn-danger col-12 align-self-end" value="{{list.id}}" (click)="openModalConfirm(content)">Eliminar</button>
        <ng-template #content let-modal>
          <div class="modal-header">
            <div class="h3">¿Desea eliminar el producto {{list.titulo}}?</div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" value="{{list.id}}" (click)="deletePublication($event)">Eliminar</button>
            <button type="button" class="btn btn-warning" (click)="modal.dismiss()">Cancelar</button>
          </div>
        </ng-template>
        <ng-template #conten let-modal >
          <div class="modal-header">
            <div class="modal-title">{{list.titulo}}</div>
            <button
              type="button"
              class="close btn btn-danger"
              aria-label="Close"
              (click)="modal.dismiss()">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="h3">{{list.tipo}}</div>
            <img class="logoPubli" src="{{list.image}}" >
            <div>{{list.description}}</div>
          </div>
        </ng-template>
      </div>
    </div>
    <div class="d-flex justify-content-center  mb-2">
      <pagination-controls class="text-center bg-primary rounded-5" (pageChange)="pages = $event"></pagination-controls>
    </div>
  </div>
</div>
