<body>
<h1 id="titulo">FarmMarket</h1>
<section id="form-body">
  <section id="mensaje">Registro</section>
  <form id="formulario">
    <label for="username">Usuario:</label>
    <input class="controls" type="text" name="nombre" id="nombUser" placeholder="Usuario">
    <label for="password">Contraseña:</label>
    <input class="controls" type="password" name="pass" placeholder="Contraseña">
    <label for="email">Email:</label>
    <input class="controls" type="email" name="email" placeholder="Email">
    <button class="submit" id="registar">Registrarse</button>
    <button class="submit" id="Cancelar">Cancelar</button>
  </form>
</section>

</body>
