<body>

<h1 id="titulo">Farmarket</h1>

<section id="form-body">
  <section id="mensaje">Registro</section>

  <form id="formulario" [formGroup]="registerForm" (ngSubmit)="registerUser()">
    <label >Email:</label>
    <input class="controls" type="email" placeholder="Email" formControlName="email">
    <label >Nombre:</label>
    <input class="controls" type="text" placeholder="Usuario" formControlName="name">
    <label >Contraseña:</label>
    <input class="controls" type="password" placeholder="Contraseña" formControlName="pass">

    <button type="submit" id="registar" [disabled]="registerForm.invalid">Registrarse</button>
    <button type="button" id="Cancelar" (click)="btnLogin()">Cancelar</button>
  </form>

</section>

</body>
